﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/TrangChu.css" rel="stylesheet" />
    <!--slider-->
<script src="~/ckeditor/ckeditor.js"></script>
   
</head>
<body>
    <div class="header">
        <div style="width:600px; height:150px;float:left">
            <div class="banner">
                <img src="~/Content/Image/Public/hoa_sach.gif" class="HinhBanner" />
                <div class="TenWeb">
                    sachcuaban.vn
                </div>
            </div>
       <div class="slogan"> Khơi nguồn tri thức - kết nối đam mê - sẻ chia cảm xúc</div>
        </div>
        <div class="MenuTrai">
            @if(Session["user"]==null)
            { 
            <div class="BoxDangNhapDangKi">
                <div class="DangNhap">
                    <a href="@Url.Action("Login","Account")">Đăng nhập</a>
                </div>
                <div class="DangKy">
                    <a href="@Url.Action("Register","Account")">Đăng ký</a>
                </div>
            </div>
            }
            else
            {
              <div class="BoxDangNhapDangKi">
                <div class="DangNhap">
                    <a href="#">@Session["user"]</a>
                </div>
                <div class="DangKy">
                    <a href="@Url.Action("LogOff", "Account")">Đăng xuất</a>
                </div>
            </div>  
            }
            
            <div style="width:250px;height:70px;">
                <form action="/TrangChu/TimKiem">
                    <div >
                        @Html.TextBox("TimKiem", "", new { @class = "InputTimKiem", @placeholder = "Tìm kiếm..." })
                    </div>
                </form>
            </div>
        </div>
    </div>
        <ul class="tabs">

            <li><a href="@Url.Action("Index","TrangChu")">Trang chủ</a></li>

            <li><a href='#tab2'>Sách mới</a></li>

            <li><a href="@Url.Action("Index","Event")">Sự kiện</a></li>
            <li><a href="@Url.Action("Index","Post")">Diễn đàn</a></li>
            <li><a href='#tab5'>Sách đọc nhiều</a></li>
            <li><a href="#">Sách giảm giá</a></li>
            <li><a href="@Url.Action("Create","Post")">Đăng bài</a></li>
        </ul>
   
    
    
    <div>
        @RenderBody()
    </div>

    <div class="footer-area">
        <ul>
            <li><a href="feedback.html">Giới thiệu</a></li>
            <li><a href="about.html">Thỏa thuận sử dụng</a></li>
            <li><a href="privacy.html">Cách thiết lập trang chủ</a></li>
            <li><a href="how.html">Liên hệ</a></li>
            <li><a href="useragreement.html">Theo chúng tôi</a></li>
        </ul>
    </div>
</body>

</html>

