﻿@model Web_Final.Models.LoginModel
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}


<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<section id="loginForm">
    <h2></h2>
    <div class="haha">
        @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <fieldset style="width: 200px; height:180px;">
                <legend>ĐĂNG NHẬP</legend>
                <ol>
                    <li>
                        <div class="dangnhap">
                            @Html.LabelFor(m => m.UserName)
                        </div>
                       
                        @Html.TextBoxFor(m => m.UserName)
                        @Html.ValidationMessageFor(m => m.UserName)
                    </li>
                    <li>
                        <div class="dangnhap">
                            @Html.LabelFor(m => m.Password)
                        </div>
                        
                        @Html.PasswordFor(m => m.Password)
                        @Html.ValidationMessageFor(m => m.Password)
                    </li>
                    <li>
                        @Html.CheckBoxFor(m => m.RememberMe)
                        @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
                    </li>
                </ol>
                <input type="submit" value="Log in" style="margin-left:80px;" />
            </fieldset>
            <p>
                <a href="@Url.Action("Register","Account")"> Đăng ký</a> Nếu bạn chưa có tài khoản!
            </p>

        }
    </div>
</section>

