﻿@model Web_Final.Models.RegisterModel
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <h2></h2>
</hgroup>

<div class="haha">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()

        <fieldset style="width:400px; height:200px;">
            <legend>ĐĂNG KÝ</legend>
            <ol style="margin-left:10px;">
                <li>
                    <div style="width:130px; height:20px;">
                        @Html.LabelFor(m => m.UserName)
                    </div>
                    
                    @Html.TextBoxFor(m => m.UserName)
                </li>
                <li>
                    <div style="width:130px; height:20px;">
                        @Html.LabelFor(m => m.Password)
                     </div>
                        @Html.PasswordFor(m => m.Password)
</li>
                <li>
                    <div style="width:130px; height:20px;">
                        @Html.LabelFor(m => m.ConfirmPassword)
                    </div>
                        @Html.PasswordFor(m => m.ConfirmPassword)
</li>
            </ol>
            <input type="submit" value="Đăng ký" style="margin-left:100px;"/>
        </fieldset>
    }
</div>

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
