﻿body {
    width:1349px;
    min-height:500px;
    font-family:  Helvetica Neue;
    text-decoration:none;
    padding: 0px 1px;
    margin: 0 0;
    background-image:url("/Content/Image/Public/hoa.jpg")

}
.InputTimKiem{
    width:235px; height:30px;background-color:#ffffff; margin-top:10px; border-radius:8px;
}
a{text-decoration:none;}
.header{
    width:1349px;
    height:150px;
    background-image:url(/Content/Image/Public/2.png);

}
.HinhBanner{
    width:130px;
    height:100px;
    margin-left:50px;
    margin-top:5px;
}
a:hover{
    color:#237534;
    font-size:15px;
    text-decoration:none;
}
.banner{
    width:125px;
    height:150px;
    float:left;
}
.MenuTrai{
    width:250px;
    height:150px;
    float: right;
}
.BoxDangNhapDangKi{
    width:250px;
    height:80px;
    color:#ffffff;
}
.DangNhap a{
    color:#ffffff;
}
.DangKy a{
    color:#ffffff;
}
.DangNhap{
    width:100px; 
    height:30px;
    line-height:30px;
    border:solid 1px #ffffff;
    background-color:transparent;
    border-radius:8px;
    float:left;
    margin : 14px 10px;
    text-align:center;
    color:#ffffff;
    font-weight:bold;

}
.DangKy{
    width:100px; 
    height:30px;
    line-height:30px;
    border:solid 1px #ffffff;
    background-color:transparent;
    border-radius:8px;
    float:right;
    margin-top:14px;
    margin-right:10px;
    text-align:center;
    font-weight:bold;
    color:#ffffff;
}
.slogan{
    width: 400px;
    line-height:150px;
    float:right;  
    font-family:Arial;
    color:#ffffff;
    font-size:15px;
    margin-left:-10px;
}
.TenWeb{
    font-size:30px;
    line-height:30px;
    color:#fff;
    font-family:Helvetica Neue;
    font-weight:bold;
    margin-left:30px;
    margin-bottom:10px;
    width:125px;
}

ul, li{ list-style:none;}
/*Menu*/
 * {padding:0;}
 .tabs{
    width:1349px;
    height:50px;
    text-decoration:none;
    background-color:#a58828;
    margin-top:0px;
    font-size:15px;
    font-weight:bold;
    line-height:50px;
 }

 a:hover{color:#4DAAE2;}

    .tabs li {
        list-style:none;
        display:inline;
    }


    .tabs a {
         width: 160px;
        display:inline-block;
        color:#fff;
        text-decoration:none;
        text-align:left;
        margin-left:10px;

    }


    .tabs a.active {

        background:#fff;

        color:#000;

    }
.content{
    width: 1349px;
    min-height:500px;
}
.content_Left{
    width:1040px;
    min-height:400px;
   
}
.content_left{
    padding:0px;
    float: left;
    width: 300px;
    min-height:400px;
    
}
.head3{
    width:735px;
    height:400px;
    padding:0px;
    margin-top:0px;
}
.content_center{
    width: 735px;
    min-height:400px;
    float:right;

}
.content_right{
    padding:0px;
    float:right;
    width:302px;
    min-height:400px;
}

.DangNhapDangKy{
    width:450px;
    height:150px;
    /*padding: 10px 120px;*/

}
.nivoSlider{
    width: 735px;
    height: 300px;
}
.dangnhap{
    width:97px;
    height:20px;
}
.haha {
     /* Firefox */
     height:auto;
     padding:1px 10px;
        display:-moz-box;
        -moz-box-orient:vertical;
        -moz-box-pack:center;
        -moz-box-align:center;
 
        /* Safari and Chrome */
        display:-webkit-box;
        -webkit-box-orient:vertical;
        -webkit-box-pack:center;
        -webkit-box-align:center;
}

ul,li{list-style: none}
.footer-area {
    margin-top: -20px;
    padding: 10px 0px 0px;
    text-align: center;
    font-size: 1em;
    height: 40px;
    position: relative;
    width: 100%;
}
.footer-area ul a {
    text-decoration: none;
    text-shadow: 0px 1px 1px #FFF;
    color: #696666;
    background: none repeat scroll 0px 0px transparent;
}
.footer-area ul {
    list-style: outside none none;
    width: 50%;
    margin: auto;
}

.footer-area ul li + li:before {
    content: "|";
    color: #4DAAE2;
    display: inline-block;
    width: 30px;
}
.footer-area ul li {
    float: left;
    margin-top: 50px;
    margin-bottom: 30px;
}