﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<script src="~/Scripts/silde.js"></script>
<script src="~/Scripts/jquery.flexslider-min.js"></script>
<script src="~/Scripts/jquery.flexslider.js"></script>
<script src="~/Scripts/jquery.flexslider.js"></script>
<link href="~/Content/flexslider.css" rel="stylesheet" />
<script type="text/javascript" charset="utf-8">
    $(window).load(function () {
        $('.flexslider').flexslider({
            animation: "slide"
        });
    });
</script>

<body>
    <div class="content">

        <div class="content_right">
            <div style="border: solid 1px #0094ff; width: 300px; height: 300px">
                <h3 style="text-align:center">SỰ KIỆN</h3>
            <div >
                <img style="border:solid 1px #ff6a00; width:200px;height:100px; margin:10px 50px;" src="~/Content/AnhWEb/1.jpg" />
            </div>
                <p>Hội sách Hà Nội 2014" được tổ chức trong vòng 1 tuần với rất nhiều những hoạt động lớn giới thiệu về sách và chương trình ưu đãi dành cho bạn đọc.</p>

            </div>
            

        </div>
        <div class="content_Left">
            <div class="content_left">
                <div><h3> THÀNH VIÊN TÍCH CỰC</h3>

                </div>
                
            </div>

            <div class="content_center">
                <div class="head3">
                    <div class="flexslider">
                        <ul class="slides">
                            <li>
                                <img src="~/Content/Image/Public/pic_xinhaygieohatviyeuthuong.jpg" />
                                
                              
                            </li>
                            <li>
                                <img src="~/Content/Image/Public/pic_vunchoiniemtin.jpg" />
                            
                            </li>
                            <li>
                                <img src="~/Content/Image/Public/BANNER.jpg" />
                               
                            </li>
                            <li>
                                <img src="~/Content/Image/Public/pic_gatmuahanhphuc.jpg" />
                                
                               
                            </li>
                        </ul>
                    </div>
                </div>
             </div>


            </div>
     </div>
</body>


