﻿@model Web_Final.Models.Post

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2></h2>

<div style="width:100%; height:700px;">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset style="width:735px;height:600px; padding: 10px 300px;">
            <legend>Viết bài</legend>

            <div class="editor-label">
                @Html.LabelFor(model => model.Title)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Title)
                @Html.ValidationMessageFor(model => model.Title)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.Body)
            </div>
            <div class="editor-field">
                @*@Html.EditorFor(model => model.Body)*@
                @Html.TextAreaFor(model => model.Body, new { @id = "ckeContent", @class = "ckeditor" })
                @*@Html.ValidationMessageFor(model => model.Body)*@
                <script type="text/javascript">
                    CKEDITOR.replace("ckeContent")
                </script></div>
            <div class="editor-label">
                @Html.LabelFor(model => model.BookID, "Book")
            </div>
            <div class="editor-field">
                @Html.DropDownList("BookID", String.Empty)
                @Html.ValidationMessageFor(model => model.BookID)
            </div>

            @*<div class="editor-label">
                @Html.LabelFor(model => model.EventID, "Event")
            </div>
            <div class="editor-field">
                @Html.DropDownList("EventID", String.Empty)
                @Html.ValidationMessageFor(model => model.EventID)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.DiscussionID, "Discussion")
            </div>
            <div class="editor-field">
                @Html.DropDownList("DiscussionID", String.Empty)
                @Html.ValidationMessageFor(model => model.DiscussionID)
            </div>*@

           

            <p>
                <input type="submit" value="Đăng" />
            </p>
        </fieldset>


    }
    <div>
        @Html.ActionLink("Quay lại", "Index")
    </div>
</div>


