﻿@model Web_Final.Models.Post

@{
    ViewBag.Title = "";
}

<h2>Delete</h2>

<h3>Bạn muốn xóa bài này?</h3>
<fieldset>
    <legend>Bài đăng</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Body)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Body)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateCreate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateCreate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateUpdate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateUpdate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LikeNumber)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LikeNumber)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CommentNumber)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CommentNumber)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserProfileID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserProfileID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Book.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Book.Name)
    </div>

    @*<div class="display-label">
         @Html.DisplayNameFor(model => model.Event.ID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Event.ID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Discussion.ID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Discussion.ID)
    </div>*@
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Xóa" /> |
        @Html.ActionLink("Quay lại", "Index")
    </p>
}
