﻿@model Web_Final.Models.Post

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2></h2>
<div class="haha">
    <fieldset style="width:700px;">
        @*<h1>Bài đăng</h1>*@

        <h2>Tiêu đề:</h2>
        <div class="display-field">
            @Html.DisplayFor(model => model.Title)
        </div>

        <h2>Nội dung:</h2>
        <div class="display-field">
            @Html.Raw(Model.Body)
        </div>

        @*<div class="display-label">
                 @Html.DisplayNameFor(model => model.DateCreate)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.DateCreate)
            </div>*@


        @*<div class="display-label">
                @Html.DisplayNameFor(model => model.LikeNumber)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.LikeNumber)
            </div>

            <div class="display-label">
                @Html.DisplayNameFor(model => model.CommentNumber)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.CommentNumber)
            </div>

            <div class="display-label">*@
        @*@Html.DisplayNameFor(model => model.UserProfileID)*@
        @*</div>*@

        @*@Html.DisplayFor(model => model.UserProfileID)*@
        Đăng vào @Html.DisplayFor(model => model.DateCreate) bởi @Session["user"]


        @*<div class="display-label">
                 @Html.DisplayNameFor(model => model.Book.Name)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Book.Name)
            </div>

            <div class="display-label">
                 @Html.DisplayNameFor(model => model.Event.ID)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Event.ID)
            </div>

            <div class="display-label">
                 @Html.DisplayNameFor(model => model.Discussion.ID)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Discussion.ID)
            </div>*@
    </fieldset>
    <p>
        @Html.ActionLink("Sửa", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Quay lại", "Index")
    </p>
    @Html.Partial("_addComment",new Web_Final.Models.Comment(), ViewData);
    <fieldset>
        <legend style="width:700px;"></legend>
        @foreach (var comment in Model.Comments.OrderByDescending(x => x.DateCreate).Take(10))
        {
            <div class="display-field">
                <h3>Cách đây:@Html.DisplayFor(x => comment.LastTime)</h3>
               <h6> bởi @Session["user"]</h6>
            </div>
            <div class="display-field">
                @Html.DisplayFor(x => comment.Body)
            </div>


        }

    </fieldset>
</div>

    