﻿@model Web_Final.Models.Post

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2></h2>
<div style="width:100%; height:750px;">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset style="width:735px;height:700px; padding: 10px 300px;">
            <legend>Chỉnh sửa bài đăng</legend>

            @Html.HiddenFor(model => model.ID)

            <div class="editor-label">
                @Html.LabelFor(model => model.Title)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Title)
                @Html.ValidationMessageFor(model => model.Title)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Body)
            </div>
            <div class="editor-field">
                @*@Html.EditorFor(model => model.Body)*@
                @Html.TextAreaFor(model => model.Body, new { @id = "ckeContent", @class = "ckeditor" })
                @*@Html.ValidationMessageFor(model => model.Body)*@
                <script type="text/javascript">
                    CKEDITOR.replace("ckeContent")
                </script>
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.DateCreate)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.DateCreate)
                @Html.ValidationMessageFor(model => model.DateCreate)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.DateUpdate)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.DateUpdate)
                @Html.ValidationMessageFor(model => model.DateUpdate)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.LikeNumber)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.LikeNumber)
                @Html.ValidationMessageFor(model => model.LikeNumber)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.CommentNumber)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.CommentNumber)
                @Html.ValidationMessageFor(model => model.CommentNumber)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.UserProfileID)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.UserProfileID)
                @Html.ValidationMessageFor(model => model.UserProfileID)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.BookID, "Book")
            </div>
            <div class="editor-field">
                @Html.DropDownList("BookID", String.Empty)
                @Html.ValidationMessageFor(model => model.BookID)
            </div>

            @*<div class="editor-label">
                @Html.LabelFor(model => model.EventID, "Event")
            </div>
            <div class="editor-field">
                @Html.DropDownList("EventID", String.Empty)
                @Html.ValidationMessageFor(model => model.EventID)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.DiscussionID, "Discussion")
            </div>
            <div class="editor-field">
                @Html.DropDownList("DiscussionID", String.Empty)
                @Html.ValidationMessageFor(model => model.DiscussionID)
            </div>*@
            <p>
                <input type="submit" value="Save" />
            </p>
        </fieldset>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>

    @*@section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }*@
