﻿@model IEnumerable<Web_Final.Models.Post>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2></h2>

<p>
    @Html.ActionLink("Viết bài mới", "Create")
</p>
<table style="border:5px;">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Body)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateUpdate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LikeNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CommentNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserProfileID)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Book.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Event.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Discussion.ID)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.Raw(item.Body)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateUpdate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LikeNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CommentNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserProfileID)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Book.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Event.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Discussion.ID)
        </td>*@
        <td>
            @Html.ActionLink("Sửa", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Chi tiết", "Details", new { id=item.ID }) |
            @Html.ActionLink("Xóa", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
