﻿@model Blog2_2.Models.Comment

<div class="display-field">
    <h4>Cach day: @Html.DisplayFor(model => model.LastTime)</h4>
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Body)
</div>