﻿@model Blog2_2.Models.Comment
@using (Html.BeginForm("Create", "Comment",FormMethod.Post, new { id = "addcomment_form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <b>Add Comment</b>

        <div class="editor-label">
            @Html.LabelFor(model => model.Body)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Body)
            @Html.ValidationMessageFor(model => model.Body)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Author)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Author)
            @Html.ValidationMessageFor(model => model.Author)
        </div>

       <div>
           @Html.Hidden("idpost", ViewData["idpost"])
       </div>
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}


<script src="~/Scripts/addComment.js"></script>